<!--https://www.fussball.de/ajax.club.teams/-/action/search/id/00ES8GN91400002IVV0AG08LVUPGND5I/saison/2122/mannschaftsart/-1/wettkampftyp/-1-->
<div data-ng-controller="AjaxController" class="tab-content">
	<div class="filter">
		<form data-ajax-type="html" data-ajax-target="#clubTeams .tab-content" data-ajax-resource="https://www.fussball.de/ajax.club.teams/-/action/search/id/00ES8GN91400002IVV0AG08LVUPGND5I" data-ajax="replace" data-tracking="{'href':'https://www.fussball.de/ajax.club.teams/-/action/search/id/00ES8GN91400002IVV0AG08LVUPGND5I'}">
			<div data-ng-model="filterSeasons" data-ng-init="filterSeasons='21/22'" data-select-box="single" data-select-box-default="0" data-select-title="Saison" class="select-wrapper" data-ajaxmodel="saison">
				<select size="1" name="saison">
					<option value="2223">2022/2023</option>
					<option value="2122" selected="selected">2021/2022</option>
					<option value="2021">2020/2021</option>
					<option value="1920">2019/2020</option>
					<option value="1819">2018/2019</option>
					<option value="1718">2017/2018</option>
					<option value="1617">2016/2017</option>
					<option value="1516">2015/2016</option>
					<option value="1415">2014/2015</option>
					<option value="1314">2013/2014</option>
					<option value="1213">2012/2013</option>
					<option value="1112">2011/2012</option>
					<option value="1011">2010/2011</option>
					<option value="0910">2009/2010</option>
					<option value="0809">2008/2009</option>
					<option value="0708">2007/2008</option>
					<option value="0607">2006/2007</option>
					<option value="0506">2005/2006</option>
					<option value="0405">2004/2005</option>
					<option value="0304">2003/2004</option>
					<option value="0203">2002/2003</option>
					<option value="0102">2001/2002</option>
					<option value="0001">2000/2001</option>
				</select>
			</div>
			<div data-ng-model="filterTeamTypes" data-select-box="single" data-select-box-default="0" data-select-title="Mannschaften" class="select-wrapper" data-ajaxmodel="mannschaftsart">
				<select size="1" name="mannschaftsart">
					<option value="-1" selected="selected">Alle</option>
					<option value="95">Herren</option>
					<option value="96">A-Junioren</option>
					<option value="97">B-Junioren</option>
					<option value="98">C-Junioren</option>
					<option value="99">D-Junioren</option>
					<option value="100">E-Junioren</option>
					<option value="101">F-Junioren</option>
				</select>
			</div>
			<div data-ng-model="filterCompetitions" data-select-box="single" data-select-box-default="0" data-select-title="Wettbewerbe" class="select-wrapper" data-ajaxmodel="wettkampftyp">
				<select size="1" name="wettkampftyp">
					<option value="-1" selected="selected">Alle</option>
					<option value="1">Meisterschaften</option>
					<option value="8">Pokale</option>
					<option value="7">Freundschaftsspiele</option>
				</select>
			</div>
			<button type="submit" class="button-primary button">Los</button>
		</form>
	</div>
	<div class="result">
		<div class="items">
			<div class="item">
				<h4>
					<a href="https://www.fussball.de/mannschaft/sv-fuehlingen-sv-fuehlingen-chorweiler-e-v-mittelrhein/-/saison/2122/team-id/011MIC9NDS000000VTVG0001VTR8C1K7">
						Herren - Fühlingen I
						<span class="icon-link-arrow"></span>
						<span class="icon-angle-right"></span>
					</a>
				</h4>
				<p>
					<a href="https://www.fussball.de/spieltagsuebersicht/kreisliga-c-staffel-1-kreis-koeln-kreisliga-c-herren-saison2122-mittelrhein/-/staffel/02EI0ATBRS00000HVS5489B3VT9UQ08G-G">Kreisliga C Staffel 1</a>
					 | 
					<a href="https://www.fussball.de/spieltagsuebersicht/bitburger-kreispokal-2021-2022-kreis-koeln-kreispokal-herren-saison2122-mittelrhein/-/staffel/02EI0CSHVK000000VS5489B3VT9UQ08G-C">Bitburger Kreispokal 2021/2022</a>
					 | 
					Freundschaftsspiele
				</p>
			</div>
			<div class="item">
				<h4>
					<a href="https://www.fussball.de/mannschaft/sv-fuehlingen-ii-sv-fuehlingen-chorweiler-e-v-mittelrhein/-/saison/2122/team-id/01L64SKETK000000VV0AG80NVTB5JGKG">
						Herren - Fühlingen II
						<span class="icon-link-arrow"></span>
						<span class="icon-angle-right"></span>
					</a>
				</h4>
				<p>
					<a href="https://www.fussball.de/spieltagsuebersicht/kreisliga-d-staffel-4-kreis-koeln-kreisliga-d-herren-saison2122-mittelrhein/-/staffel/02EI0AUQJ4000002VS5489B3VT9UQ08G-G">Kreisliga D Staffel 4</a>
					 | 
					Freundschaftsspiele
				</p>
			</div>
			<div class="item">
				<h4>
					<span>
						Not Found 1
						<span class="icon-link-arrow"></span>
						<span class="icon-angle-right"></span>
					</span>
				</h4>
				<p>
					<a href="https://www.fussball.de/spieltagsuebersicht/kreisliga-d-staffel-4-kreis-koeln-kreisliga-d-herren-saison2122-mittelrhein/-/staffel/02EI0AUQJ4000002VS5489B3VT9UQ08G-G">Kreisliga D Staffel 4</a>
					|
					Freundschaftsspiele
				</p>
			</div>
			<div class="item">
				<h4>
					<span>
						<span class="icon-link-arrow"></span>
						<span class="icon-angle-right"></span>
					</span>
				</h4>
				<p>
					<a href="https://www.fussball.de/spieltagsuebersicht/kreisliga-d-staffel-4-kreis-koeln-kreisliga-d-herren-saison2122-mittelrhein/-/staffel/02EI0AUQJ4000002VS5489B3VT9UQ08G-G">Kreisliga D Staffel 4</a>
					|
					Freundschaftsspiele
				</p>
			</div>
			<div class="item">
				<h4>
					<a href="https://www.fussball.de/mannschaft/sv-fuehlingen-iii-sv-fuehlingen-chorweiler-e-v-mittelrhein/-/saison/2122/team-id/02H06I76F4000000VS5489B2VSLHHRVG">
						Herren - SV Fühlingen III
						<span class="icon-link-arrow"></span>
						<span class="icon-angle-right"></span>
					</a>
				</h4>
				<p>Freundschaftsspiele</p>
			</div>
			<div class="item">
				<h4>
					<a href="https://www.fussball.de/mannschaft/sv-fuehlingen-sv-fuehlingen-chorweiler-e-v-mittelrhein/-/saison/2122/team-id/01HHJCM674000000VV0AG80NVT6JKAPB">
						A-Junioren - Fühlingen
						<span class="icon-link-arrow"></span>
						<span class="icon-angle-right"></span>
					</a>
				</h4>
				<p>
					<a href="https://www.fussball.de/spieltagsuebersicht/a-junioren-sonderliga-kreis-koeln-a-junioren-sonderliga-a-junioren-saison2122-mittelrhein/-/staffel/02ER9A7CP0000005VS5489B3VUK1A2F6-G">A-Junioren Sonderliga</a>
					 | 
					<a href="https://www.fussball.de/spieltagsuebersicht/josef-volmar-wanderpokal-kreis-koeln-a-junioren-kreispokal-a-junioren-saison2122-mittelrhein/-/staffel/02F1DT54I8000000VS5489B3VT1OC9J9-C">Josef Volmar Wanderpokal</a>
					 | 
					Freundschaftsspiele
				</p>
			</div>
			<div class="item">
				<h4>
					<a href="https://www.fussball.de/mannschaft/fuehlingen-chorweiler-sv-fuehlingen-chorweiler-e-v-mittelrhein/-/saison/2122/team-id/01SHOG6L9G000000VS548984VVMI9KVG">
						B-Junioren - Fühlingen
						<span class="icon-link-arrow"></span>
						<span class="icon-angle-right"></span>
					</a>
				</h4>
				<p>
					<a href="https://www.fussball.de/spieltagsuebersicht/b-junioren-kreisklasse-1-kreis-koeln-b-junioren-kreisklasse-b-junioren-saison2122-mittelrhein/-/staffel/02F113L8KO000006VS5489B4VSOE7V84-G">B-Junioren Kreisklasse 1</a>
					 | 
					<a href="https://www.fussball.de/spieltagsuebersicht/karl-peter-kropmanns-wanderpokal-kreis-koeln-b-junioren-kreispokal-b-junioren-saison2122-mittelrhein/-/staffel/02F1E03L6K000000VS5489B3VT1OC9J9-C">Karl-Peter Kropmanns Wanderpokal</a>
					 | 
					Freundschaftsspiele
				</p>
			</div>
			<div class="item">
				<h4>
					<a href="https://www.fussball.de/mannschaft/sv-fuehlingen-u14-sv-fuehlingen-chorweiler-e-v-mittelrhein/-/saison/2122/team-id/011MIAD9JG000000VTVG0001VTR8C1K7">
						C-Junioren - Fühlingen U14
						<span class="icon-link-arrow"></span>
						<span class="icon-angle-right"></span>
					</a>
				</h4>
				<p>
					<a href="https://www.fussball.de/spieltagsuebersicht/u14-junioren-leistungsklasse-1-kreis-koeln-c-junioren-leistungsklasse-c-junioren-saison2122-mittelrhein/-/staffel/02ES6I5NO8000007VS5489B3VUK1A2F6-G">U14-Junioren Leistungsklasse 1</a>
					 | 
					Freundschaftsspiele
				</p>
			</div>
			<div class="item">
				<h4>
					<a href="https://www.fussball.de/mannschaft/sv-fuehlingen-sv-fuehlingen-chorweiler-e-v-mittelrhein/-/saison/2122/team-id/02ER9BDO34000000VS5489B2VVP292BR">
						C-Junioren - Fühlingen
						<span class="icon-link-arrow"></span>
						<span class="icon-angle-right"></span>
					</a>
				</h4>
				<p>
					<a href="https://www.fussball.de/spieltagsuebersicht/c-junioren-kreisklasse-1-kreis-koeln-c-junioren-kreisklasse-c-junioren-saison2122-mittelrhein/-/staffel/02F115AH4C000006VS5489B4VSOE7V84-G">C-Junioren Kreisklasse 1</a>
					 | 
					<a href="https://www.fussball.de/spieltagsuebersicht/eberhard-castelli-wanderpokal-kreis-koeln-c-junioren-kreispokal-c-junioren-saison2122-mittelrhein/-/staffel/02F1E4JM8O000000VS5489B3VT1OC9J9-C">Eberhard Castelli Wanderpokal</a>
					 | 
					Freundschaftsspiele
				</p>
			</div>
			<div class="item">
				<h4>
					<a href="https://www.fussball.de/mannschaft/sv-fuehlingen-u-12-sv-fuehlingen-chorweiler-e-v-mittelrhein/-/saison/2122/team-id/011MICT0UG000000VTVG0001VTR8C1K7">
						D-Junioren - Fühlingen U12
						<span class="icon-link-arrow"></span>
						<span class="icon-angle-right"></span>
					</a>
				</h4>
				<p>
					<a href="https://www.fussball.de/spieltagsuebersicht/u12-junioren-kreisklasse-1-kreis-koeln-d-junioren-kreisklasse-d-junioren-saison2122-mittelrhein/-/staffel/02F117KFFK000007VS5489B4VSOE7V84-G">U12-Junioren Kreisklasse 1</a>
					 | 
					<a href="https://www.fussball.de/spieltagsuebersicht/gerhard-wessely-wanderpokal-kreis-koeln-d-junioren-kreispokal-d-junioren-saison2122-mittelrhein/-/staffel/02F1EA2274000000VS5489B3VT1OC9J9-C">Gerhard Wessely Wanderpokal</a>
					 | 
					Freundschaftsspiele
				</p>
			</div>
			<div class="item">
				<h4>
					<a href="https://www.fussball.de/mannschaft/fuehlingen-u11-sv-fuehlingen-chorweiler-e-v-mittelrhein/-/saison/2122/team-id/011MIDAJT8000000VTVG0001VTR8C1K7">
						E-Junioren - Fühlingen U11
						<span class="icon-link-arrow"></span>
						<span class="icon-angle-right"></span>
					</a>
				</h4>
				<p>
					<a href="https://www.fussball.de/spieltagsuebersicht/u11-junioren-staffel-6-kreis-koeln-e-junioren-kreisklasse-e-junioren-saison2122-mittelrhein/-/staffel/02F1U3VB44000007VS5489B3VT1OC9J9-G">U11-Junioren Staffel 6</a>
					 | 
					Freundschaftsspiele
				</p>
			</div>
			<div class="item">
				<h4>
					<a href="https://www.fussball.de/mannschaft/fuehlingen-u10-sv-fuehlingen-chorweiler-e-v-mittelrhein/-/saison/2122/team-id/01L486GEGO000000VV0AG80NVVQMG8U7">
						E-Junioren - Fühlingen U10
						<span class="icon-link-arrow"></span>
						<span class="icon-angle-right"></span>
					</a>
				</h4>
				<p>
					<a href="https://www.fussball.de/spieltagsuebersicht/u10-junioren-staffel-3-kreis-koeln-e-junioren-kreisklasse-e-junioren-saison2122-mittelrhein/-/staffel/02F1U49HNS000007VS5489B3VT1OC9J9-G">U10-Junioren Staffel 3</a>
					 | 
					Freundschaftsspiele
				</p>
			</div>
			<div class="item">
				<h4>
					<a href="https://www.fussball.de/mannschaft/fuehlingen-u9-sv-fuehlingen-chorweiler-e-v-mittelrhein/-/saison/2122/team-id/011MIB1HRC000000VTVG0001VTR8C1K7">
						F-Junioren - Fühlingen U9
						<span class="icon-link-arrow"></span>
						<span class="icon-angle-right"></span>
					</a>
				</h4>
				<p>
					<a href="https://www.fussball.de/spieltagsuebersicht/u9-junioren-staffel-2-kreis-koeln-f-junioren-kreisklasse-f-junioren-saison2122-mittelrhein/-/staffel/02F1U4F188000006VS5489B3VT1OC9J9-G">U9-Junioren Staffel 2</a>
					 | 
					Freundschaftsspiele
				</p>
			</div>
			<div class="item">
				<h4>
					<a href="https://www.fussball.de/mannschaft/fuehlingen-u9-ii-sv-fuehlingen-chorweiler-e-v-mittelrhein/-/saison/2122/team-id/02G5GN1MU8000000VS5489B1VUIB87VA">
						F-Junioren - Fühlingen U9 II
						<span class="icon-link-arrow"></span>
						<span class="icon-angle-right"></span>
					</a>
				</h4>
				<p>
					<a href="https://www.fussball.de/spieltagsuebersicht/u9-junioren-staffel-6-kreis-koeln-f-junioren-kreisklasse-f-junioren-saison2122-mittelrhein/-/staffel/02H4B08STO000004VS5489B4VUE8K8R1-G">U9-Junioren Staffel 6</a>
					 | 
					Freundschaftsspiele
				</p>
			</div>
		</div>
	</div>
</div>
