name: PHPUnit
on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['8.1']
    steps:
      - uses: actions/checkout@v3

      - name: start docker
        run: docker-compose up -d

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: pecl
          extensions: xdebug

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Wait for MySQL
        run: sleep 3

      - name: Install python lib
        run: pip install fonttools

      - name: create database
        run: php bin/console --env=test doctrine:database:create

      - name: migrate
        run: php bin/console --env=test doctrine:migrations:migrate --no-interaction

      - name: Run test suite
        run: php vendor/bin/phpunit

      - uses: codecov/codecov-action@v3
        with:
          file: ./clover.xml
    
